fp-info-cache
Project 4 MCU Datalogger-backups/*
2_layer_MCU_Datalogger_Gerbers/*
4_layer_MCU_Datalogger_Gerbers/*
.DS_Store
_autosave-Project 4 MCU Datalogger.kicad_prl
~_autosave-Project 4 MCU Datalogger.kicad_pcb.lck
_autosave-Project 4 MCU Datalogger.kicad_pcb
~Project 4 MCU Datalogger.kicad_pcb.lck
~Project 4 MCU Datalogger.kicad_sch.lck
