fp-info-cache
Project 4 MCU Datalogger-backups/*
2layer MCUDataloggerGerber/*
4layer MCUDataloggerGerber/b*
.DS_Store
_autosave-Project 4 MCU Datalogger.kicad_prl
~Project 4 MCU Datalogger.kicad_pcb.lck
~Project 4 MCU Datalogger.kicad_sch.lck
